* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%; }
  @media (max-width: 768px) {
    html {
      font-size: 50%; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%; }

.align-center {
  text-align: center; }

p {
  font-size: 1.8rem;
  margin-bottom: 35px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7b6c63; }

h1 {
  font-size: 6.6rem;
  letter-spacing: 2px;
  line-height: 75px; }

h2 {
  font-size: 4rem;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  color: #7b6c63; }

h3 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px; }

h4 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

h5 {
  font-size: 1.9rem;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase; }

a {
  outline: none;
  text-decoration: none; }

section {
  padding: 80px 0; }

.fixed-position {
  overflow: hidden; }

.line {
  position: relative;
  padding-bottom: 45px; }
  .line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 3px;
    background-color: #7b6c63; }

.line-small {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .line-small::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background-color: #fff; }

#example {
  height: 300px;
  width: 300px; }

.hamburger .line-hamburger {
  width: 30px;
  height: 5px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

#hamburger-1.is-active .line-hamburger:nth-child(2) {
  opacity: 0; }

#hamburger-1.is-active .line-hamburger:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }

#hamburger-1.is-active .line-hamburger:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg); }

.hamburger {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -4px;
  margin: 15px; }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
      visibility: visible;
      opacity: 1;
      pointer-events: visible; } }

@media (max-width: 768px) {
  .navigation__list {
    list-style-type: none;
    text-align: right;
    height: 100vh;
    opacity: 0;
    width: 100vw;
    pointer-events: none;
    padding-right: 7px; }
    .navigation__list.open {
      opacity: 1;
      pointer-events: all;
      position: fixed;
      left: 0;
      z-index: -2;
      padding-top: 50px;
      background-color: #000;
      transition: all 0.6s ease;
      overflow-y: auto; } }

.header,
.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #000;
  z-index: 50; }
  @media (max-width: 768px) {
    .header,
    .header-wrapper {
      justify-content: space-evenly;
      align-items: flex-end;
      position: fixed;
      width: 100%;
      z-index: 3;
      top: 0;
      left: 0;
      opacity: 0.9; } }

.header__logo {
  padding: 20px 20px 20px 10px;
  margin-right: auto; }
  .header__logo a {
    display: inline-block; }

.navigation {
  font-size: 1.6rem;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 20px 0; }
  @media (min-width: 768px) {
    .navigation__list .scroller {
      display: flex; } }
  @media (min-width: 768px) {
    .navigation__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      background-color: rgba(0, 0, 0, 0.9); } }
  @media (max-width: 768px) {
    .navigation__list {
      position: absolute; } }
  .navigation__item {
    padding: 2px 10px; }
    @media (max-width: 768px) {
      .navigation__item {
        font-size: 20px;
        margin: 10px 0 30px 0; } }
  .navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease; }
    .navigation__link:hover {
      color: #7b6c63; }

.container {
  position: relative;
  z-index: 1; }

.template,
.template-wrapper {
  position: relative;
  background-image: url(../images/template-cover.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .template__elements,
  .template-wrapper__elements {
    padding: 80px 0;
    text-transform: uppercase;
    max-width: 70%; }
  .template::after,
  .template-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }

.heading {
  position: relative;
  z-index: 1; }
  .heading__primary {
    font-size: 6rem;
    padding: 40px 0;
    letter-spacing: 2px;
    color: #fff; }
    .heading__primary span {
      color: #7b6c63; }
    @media (max-width: 480px) {
      .heading__primary {
        font-size: 4rem; } }
  .heading__tertiary {
    font-size: 3rem;
    text-transform: uppercase; }
  .heading__secondary {
    font-family: "Raleway", sans-serif;
    font-size: 2.4rem;
    color: #fff;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 0;
    text-align: left; }

.btn {
  position: relative;
  padding: 10px 50px;
  background-color: #303030;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold; }

.download::after {
  content: "";
  position: absolute;
  right: 10%;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background-image: url(../images/download.svg);
  background-size: contain; }

.about,
.about-wrapper {
  padding-bottom: 0; }
  .about__heading,
  .about-wrapper__heading {
    color: #7b6c63;
    padding-bottom: 80px; }
  .about__form,
  .about-wrapper__form {
    background-color: #f5f5f5;
    position: relative; }
    .about__form--text,
    .about-wrapper__form--text {
      padding: 70px 0;
      width: 50%; }
      .about__form--text .resp,
      .about-wrapper__form--text .resp {
        display: none;
        visibility: hidden;
        width: 100%; }
        @media (max-width: 768px) {
          .about__form--text .resp,
          .about-wrapper__form--text .resp {
            display: block;
            visibility: visible;
            margin: 30px auto; } }
      .about__form--text h3,
      .about-wrapper__form--text h3 {
        color: #7b6c63;
        text-align: left; }
      .about__form--text p,
      .about-wrapper__form--text p {
        text-align: left;
        color: #000000; }
      .about__form--text .btn-read,
      .about-wrapper__form--text .btn-read {
        display: inline-block;
        background-color: transparent;
        color: #333333;
        border: 1px solid #333333;
        border-radius: 3px;
        transition: all 0.2s ease;
        padding: 10px 20px; }
        .about__form--text .btn-read:hover,
        .about-wrapper__form--text .btn-read:hover {
          color: #fff;
          background-color: #333333; }
        @media (max-width: 768px) {
          .about__form--text .btn-read,
          .about-wrapper__form--text .btn-read {
            margin: 0 auto; } }
      @media (max-width: 768px) {
        .about__form--text,
        .about-wrapper__form--text {
          width: 100%;
          align-items: center; } }
    .about__form--img,
    .about-wrapper__form--img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%; }
      @media (max-width: 768px) {
        .about__form--img,
        .about-wrapper__form--img {
          display: none;
          visibility: hidden; } }

.services, .services-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .services__heading, .services-wrapper__heading {
    color: #7b6c63; }
  .services__main, .services-wrapper__main {
    display: flex; }
    .services__main--card, .services-wrapper__main--card {
      width: 33.333%;
      padding: 10px 20px; }
      @media (max-width: 768px) {
        .services__main--card, .services-wrapper__main--card {
          width: 100%; } }
    .services__main h4, .services-wrapper__main h4 {
      padding: 30px 20px;
      color: #363636; }
    .services__main p, .services-wrapper__main p {
      color: #949494;
      padding: 0 25px; }
    @media (max-width: 768px) {
      .services__main, .services-wrapper__main {
        flex-direction: column;
        padding: 10px 50px; } }

.skills {
  padding: 90px 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/backskill.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .skills__heading {
    color: #fff; }
  .skills .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .skills .single-chart {
    margin: 20px; }
    .skills .single-chart h4 {
      margin-top: 20px;
      font-size: 1.6rem;
      letter-spacing: 1px;
      line-height: 30px;
      color: #ffffff;
      font-family: "Raleway"; }
  .skills .circular-chart {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border: 3px solid #7b6c63;
    border-radius: 50%; }
  .skills .circle-bg {
    fill: none; }
  .skills .circle {
    fill: none;
    stroke-width: 1.2;
    stroke-linecap: square;
    animation: progress 1s ease-out forwards; }

@keyframes progress {
  0% {
    stroke-dasharray: 0 100; } }
  .skills .circular-chart.gray .circle {
    stroke: #fff; }
  .skills .percentage {
    fill: #fff;
    font-family: sans-serif;
    font-size: 5px;
    text-anchor: middle; }

.project__heading {
  position: relative;
  color: #7b6c63;
  padding-bottom: 60px; }

.picture-row {
  display: flex;
  flex-wrap: wrap; }
  .picture-row .image-1 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .picture-row .outer {
    position: relative;
    width: 25%; }
    .picture-row .outer:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .picture-row .outer > .inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 30px; }
    @media (max-width: 768px) {
      .picture-row .outer {
        width: 50%; } }
    @media (max-width: 480px) {
      .picture-row .outer {
        width: 100%; } }

.hover-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0;
  font-size: 3rem;
  color: #fff;
  transition: all 0.6s ease-in;
  cursor: pointer; }
  .hover-inner span {
    text-transform: uppercase;
    font-size: 15px; }
  .hover-inner:hover {
    opacity: 0.8; }

.twitter {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 2rem; }
  .twitter p {
    line-height: 48px;
    color: #fff; }
  .twitter span {
    color: #227086;
    font-size: 1.8rem;
    line-height: 4.8rem; }

.btn-project {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.btn-see {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 10px 20px;
  transition: all 0.3s ease; }
  .btn-see:hover {
    color: #fff;
    background-color: #000000; }

.team {
  background-color: #f5f5f5; }
  .team__heading {
    width: 80%;
    margin: 0 auto; }
  .team__members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: -35px; }

.hover-team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.profile-photo:hover ~ .info {
  border: 2px solid black; }

.member {
  padding-left: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column; }
  .member .profile-photo {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    margin-bottom: 10px; }
  .member .info {
    border: 2px solid #796c64a8;
    text-align: center;
    padding: 12px 20px;
    flex: 1 0 auto;
    transition: all 0.3s ease; }
    .member .info h3 {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 500; }
    .member .info span {
      text-transform: uppercase;
      font-size: 1.4rem; }

.testemonials {
  background-color: #1a1a1a;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  @media (max-width: 480px) {
    .testemonials {
      padding: 20px 0; } }

.swiper-slide {
  padding: 50px 20px;
  text-align: center; }
  .swiper-slide p {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 36px;
    color: #929292;
    font-weight: 300;
    text-align: center; }
  .swiper-slide h3 {
    padding: 20px 10px;
    letter-spacing: 1px;
    line-height: 48px;
    font-weight: 600; }
  .swiper-slide h5 {
    text-transform: capitalize;
    color: #929292;
    margin-top: 50px; }
  .swiper-slide a {
    font-size: 2rem;
    color: #227086;
    text-decoration: none; }

.swiper-pagination-bullet {
  background-color: #fff;
  padding: 6px; }

.timeline {
  padding: 9rem 0;
  position: relative; }
  .timeline__heading {
    margin-bottom: 35px; }
    .timeline__heading p {
      max-width: 40%;
      margin: 0 auto; }
      @media (max-width: 768px) {
        .timeline__heading p {
          max-width: 70%; } }
      @media (max-width: 480px) {
        .timeline__heading p {
          max-width: 100%; } }
  .timeline__wrapper {
    position: relative;
    margin-bottom: 5rem; }
    .timeline__wrapper::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #ebebeb;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
      @media (max-width: 768px) {
        .timeline__wrapper::after {
          left: 4%; } }
    .timeline__wrapper::before {
      content: "";
      position: absolute;
      bottom: -5%;
      left: 50%;
      width: 70px;
      height: 70px;
      transform: translateX(-50%);
      background-color: #7b6c63;
      border-radius: 50%;
      z-index: 1;
      border: 1rem solid #ebebeb; }
      @media (max-width: 768px) {
        .timeline__wrapper::before {
          left: 4%;
          bottom: -0.5%;
          width: 55px;
          height: 55px; } }
      @media (max-width: 480px) {
        .timeline__wrapper::before {
          width: 50px;
          height: 50px; } }
    .timeline__wrapper .btn-posts {
      text-decoration: none;
      font-size: 1.57rem;
      letter-spacing: 1px;
      line-height: 18px;
      color: #fff;
      position: absolute;
      width: 50px;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      text-align: center; }
      @media (min-width: 1024px) {
        .timeline__wrapper .btn-posts {
          bottom: -20px; } }
      @media (max-width: 768px) {
        .timeline__wrapper .btn-posts {
          left: 4%;
          bottom: 1%; } }
      @media (max-width: 480px) {
        .timeline__wrapper .btn-posts {
          bottom: 1%;
          border-radius: 50%; } }
  .timeline__section {
    display: flex;
    position: relative; }
    .timeline__section::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 50%;
      width: 30px;
      height: 30px;
      background-color: #ebebeb;
      border-radius: 50%;
      z-index: 1;
      transform: translate(-50%, -10%); }
      @media (max-width: 768px) {
        .timeline__section::after {
          left: 4%; } }
    .timeline__section:nth-child(even) .outer {
      order: 1; }
    .timeline__section:nth-child(even) .content h3,
    .timeline__section:nth-child(even) .content p,
    .timeline__section:nth-child(even) .content span {
      text-align: right; }
    .timeline__section:nth-child(even) .content span {
      display: block; }
    @media (max-width: 768px) {
      .timeline__section:nth-child(even) .outer {
        order: 0; }
      .timeline__section:nth-child(even) .content h3,
      .timeline__section:nth-child(even) .content p,
      .timeline__section:nth-child(even) .content span {
        text-align: left; } }
    .timeline__section .image {
      background-size: cover;
      background-repeat: no-repeat;
      margin: 40px;
      background-position: center; }
      @media (max-width: 480px) {
        .timeline__section .image {
          margin: 10px; } }
    .timeline__section .outer {
      position: relative;
      width: 50%; }
      .timeline__section .outer:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      .timeline__section .outer > .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      @media (max-width: 768px) {
        .timeline__section .outer {
          width: 100%; } }
    .timeline__section .content {
      padding: 4rem;
      width: 50%;
      position: relative; }
      .timeline__section .content h3 {
        letter-spacing: 1px;
        line-height: 30px;
        color: #212121;
        text-transform: none;
        text-align: left;
        margin: 20px 0; }
      .timeline__section .content span {
        color: #7b6c63;
        font-size: 1.6rem;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 500; }
      .timeline__section .content p {
        text-align: left;
        color: #949494;
        letter-spacing: 1px;
        line-height: 30px; }
      @media (max-width: 768px) {
        .timeline__section .content {
          width: 100%; } }
      @media (max-width: 480px) {
        .timeline__section .content {
          padding: 20px 10px; } }
    @media (max-width: 768px) {
      .timeline__section {
        flex-direction: column-reverse;
        padding: 0 60px; } }

.contact {
  padding: 90px 0;
  background-color: #f5f5f5; }
  .contact h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase; }
  @media (max-width: 480px) {
    .contact {
      padding: 30px 0; } }

.box-contact {
  width: 100%;
  display: flex;
  margin-bottom: 30px; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  max-width: 60%;
  margin: 0 auto;
  overflow: hidden; }
  @media (max-width: 480px) {
    .form {
      max-width: 100%; } }

.row {
  padding: 10px 0;
  width: 48%;
  margin: 1px 0;
  outline: none;
  border: none;
  border-top: 4px solid black;
  background-color: transparent;
  font-size: 3rem;
  position: relative; }
  .row::placeholder {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: capitalize;
    color: #5b5b5b; }

.name {
  margin-right: 10px;
  color: #5b5b5b;
  outline: none;
  width: 48%; }

.email {
  margin-left: 10px;
  color: #5b5b5b;
  outline: none;
  width: 50%; }

.message {
  width: 100%;
  border-top: 4px solid black;
  border-bottom: 1px solid black;
  margin: 30px 10px;
  padding: 10px 0 80px 0; }

.submit {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease; }
  .submit:hover {
    background-color: #000;
    color: #fff; }

.footer {
  background-color: #222222;
  color: #b6afaf;
  padding: 90px 0 0 0; }
  .footer p {
    color: #929292; }
  .footer strong {
    color: #7a6c62;
    font-size: 1.5rem;
    font-weight: 300; }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    margin-left: -30px;
    margin-bottom: 30px; }
    .footer__wrapper h4 {
      color: #c2c2c2;
      margin-bottom: 30px;
      text-align: left; }
    .footer__wrapper--logo img {
      margin-bottom: 30px; }
    .footer__wrapper--logo p {
      text-align: left; }
    .footer__wrapper--posts .box {
      padding: 0 0 40px 0;
      border-bottom: 1px solid #393939; }
    .footer__wrapper--posts p {
      text-align: left; }
    .footer__wrapper--posts span {
      color: #505050;
      font-size: 1rem; }
      .footer__wrapper--posts span:not(:first-of-type) {
        padding-top: 50px; }
    .footer__wrapper--feeds .box {
      padding: 0 0 40px 0;
      border-bottom: 1px solid #393939; }
    .footer__wrapper--feeds p {
      text-align: left; }
    .footer__wrapper--feeds span {
      color: #3e3e3e;
      font-size: 1rem; }
      .footer__wrapper--feeds span:not(:first-of-type) {
        padding-top: 50px; }
    .footer__wrapper--address p {
      text-align: left;
      font-size: 1.8rem; }
    .footer__wrapper--address span {
      text-align: left;
      padding-left: 20px;
      font-size: 1.8rem; }
    @media (max-width: 1024px) {
      .footer__wrapper--address {
        order: 2; } }
    .footer__wrapper .col {
      padding-left: 30px;
      padding-bottom: 30px;
      width: 25%; }
      @media (max-width: 1024px) {
        .footer__wrapper .col {
          width: 50%; } }
      @media (max-width: 768px) {
        .footer__wrapper .col {
          width: 100%; } }
  .footer__copyright {
    background-color: #1c1c1c;
    width: 100%;
    text-align: center;
    padding: 20px 0; }
    .footer__copyright h5 {
      text-transform: capitalize; }

.icons {
  margin-top: 20px; }
  .icons__location, .icons__phone, .icons__email {
    position: relative;
    display: flex;
    padding-left: 45px;
    margin-bottom: 20px; }
    .icons__location a, .icons__phone a, .icons__email a {
      color: #929292;
      font-size: 1.7rem; }
  .icons__location::before {
    content: "";
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(../images/location-svg.svg);
    background-size: contain;
    background-position: center; }
  .icons__phone::before {
    content: "";
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(../images/call.svg);
    background-size: contain;
    background-position: center; }
  .icons__email::before {
    content: "";
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(../images/envelope.svg);
    background-size: contain;
    background-position: center; }
