* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Raleway", sans-serif;
    font-size: 62.5%;
    @media (max-width:768px){
        font-size: 50%;
    }
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
.align-center{
    text-align: center;
}
p {
    font-size: 1.8rem;
    margin-bottom: 35px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7b6c63;
}

h1 {
    font-size: 6.6rem;
    letter-spacing: 2px;
    line-height: 75px;
}
h2 {
    font-size: 4rem;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 35px;
    color: #7b6c63;
}
h3 {
    font-size: 2.4rem;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}
h4 {
    font-size: 2.1rem;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
h5 {
    font-size: 1.9rem;
    line-height: 32px;
    font-weight: 500;
    text-transform: uppercase;
}
h6 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
}
a {
    outline: none;
    text-decoration: none;
}
section {
    padding: 80px 0;
}
.fixed-position {
    overflow: hidden;
}
.line {
    position: relative;
    padding-bottom: 45px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 3px;
        background-color: #7b6c63;
    }
}

.line-small {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 3px;
        background-color: #fff;
    }
}
#example {
    height: 300px;
    width: 300px;
}
