.hamburger .line-hamburger {
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-1.is-active .line-hamburger:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line-hamburger:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line-hamburger:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}
.hamburger {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    // top: -4px;  HAMB
    margin: 15px;
    @media (max-width: 768px) {
        display: block;
        visibility: visible;
        opacity: 1;
        pointer-events: visible;
    }
}

.navigation__list {
    @media (max-width: 768px) {
        list-style-type: none;
        text-align: right;
        height: 100vh;
        opacity: 0;
        width: 100vw;
        pointer-events: none;
        padding-right: 7px;
        transition: all 0.6s ease;
        &.open {
            opacity: 1;
            pointer-events: all;
            position: fixed;
            left: 0;
            z-index: -2;
            padding-top: 50px;
            background-color: #000;
            overflow-y: auto;
            padding-bottom: 70px;
        }
       
        
    }
}
.scroller{
    overflow-y: auto;
    height: 100%;
}