.header,
.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #000;
    z-index: 50;

    @media (max-width: 768px) {
        justify-content: space-evenly;
        align-items: flex-end;
        position: fixed;
        width: 100%;
        z-index: 3;
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}

.header__logo {
    padding: 20px 20px 20px 10px;
    margin-right: auto;
    a{
        display: inline-block;
    }
}
.navigation {
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 20px 0;
    &__list {
        .scroller{
            @media(min-width:768px){
                display: flex;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            background-color: rgba(0, 0, 0, 0.9);
        }
        @media (max-width: 768px) {
            position: absolute;
        }
    }
    &__item {
        padding: 2px 10px;

        @media (max-width: 768px) {
            font-size: 20px;
            margin: 10px 0 30px 0;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover {
            color: #7b6c63;
        }
    }
}
