.header,
.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #000;
    z-index: 50;

    @media (max-width: 768px) {
        // flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        position: fixed;
        width: 100%;
        z-index: 3;
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}

.header__logo {
    padding: 2rem 0 2rem 1rem;
    margin-right: auto;
}
.navigation {
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 3rem;
    padding: 2rem 0;
    &__list {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            background-color: rgba(0, 0, 0, 0.9);
            // position: absolute;
        }
        @media (max-width: 768px) {
            position: absolute;
        }
    }
    &__item {
        padding: 0.2rem 1rem;

        @media (max-width: 768px) {
            font-size: 2rem;
            margin: 10px 0 30px 0;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-family: "Raleway", sans-serif;
        transition: all 0.3s ease;
        &:hover {
            color: #7b6c63;
        }
    }
}
#scroller{
    overflow: hidden;
}