.header,
.header-wrapper {
    position: relative;
    background-color: #303030;
    // min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 3;
        top: 0;
        left: 0;
        opacity: 0.9;
    }
    
}
// .header-wrapper{
//     @media (max-width: 768px){
//         display: none;
//         visibility: hidden;
//     }
// }
.header__logo {
    padding: 2rem 0;
    margin-right: auto;
    
}
.navigation {
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 3rem;
    padding: 2rem 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__item {
        padding: 0.2rem 1rem;
        
        @media (max-width: 768px){
            font-size: 2rem;
            margin: 10px 0 30px 0;
            // padding: 40px;
        }
        
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-family: "Raleway", sans-serif;
        
        
    }
}
