
.services, .services-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    .services{
        
    }
    &__heading {
        color: #7b6c63;
    }
    &__main {
        display: flex;
        // @media (max-width: 480px){
        //     padding: 0;
        // }
        &--card {
            width: 33.333%;
            padding: 10px 20px;
            @media (max-width:768px){
                width: 100%;
            }

            
        }
        h4 {
            padding: 30px 20px;
            color: #363636;
        }
        p{
            color: #949494;
            padding: 0 25px;
        }
        @media (max-width:768px){
            flex-direction: column;
            padding: 10px 50px;
        }
        @media (max-width:480px){
            padding: 5px 25px;
        }
    }
}
