.team {
    background-color: #f5f5f5;

    &__heading{
        width: 80%;
        margin: 0 auto;
    }

    &__members {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: -35px;
    }
    
}
.hover-team{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.profile-photo:hover ~ .info{
    border: 2px solid black;
}
.member {
    padding-left: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    .profile-photo {
        height: 300px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: center; 
        background-position: center;
        margin-bottom: 10px;
    }

    .info {
        border: 2px solid #796c64a8;
        text-align: center;
        padding: 12px 20px;
        flex: 1 0 auto;
        transition: all 0.3s ease;
        h3{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 500;
        }
        span{
            text-transform: uppercase;
            font-size: 1.4rem;
        }
    }
}
