.testemonials {
    background-color: #1a1a1a;
    // padding: 90px 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: #fff;
    @media (max-width: 480px){
        padding: 20px 0;
    }
}
.swiper-slide {
    padding: 0px 20px 40px 20px;
    text-align: center;

    p {
        color: #929292;
    }
    h3 {
        color: #fff;
    }
    h5 {
        text-transform: capitalize;
        color: #929292;
        margin-top: 50px;
    }
    a {
        font-size: 2rem;
        color: #227086;
        text-decoration: none;
    }
}
.swiper-pagination{
    position: absolute;
    bottom: 0;
}
  .swiper-pagination-bullet{
      background-color: #fff;
      padding: 6px;
  }