.testemonials {
    background-color: #1a1a1a;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @media (max-width: 480px){
        padding: 20px 0;
    }
}
.swiper-slide {
    padding: 50px 20px;
    text-align: center;

    p {
        font-size: 1.8rem;
        letter-spacing: 1px;
        line-height: 36px;
        color: #929292;
        font-weight: 300;
        text-align: center;
    }
    h3 {
        padding: 20px 10px;
        letter-spacing: 1px;
        line-height: 48px;
        font-weight: 600;
    }
    h5 {
        text-transform: capitalize;
        color: #929292;
        margin-top: 50px;
    }
    a {
        font-size: 2rem;
        color: #227086;
        text-decoration: none;
    }
}
  .swiper-pagination-bullet{
      background-color: #fff;
      padding: 6px;
  }