.timeline {
    padding-bottom: 100px;
    &__wrapper {
        position: relative;
        padding-bottom: 60px;
        @media (max-width: 768px) {
            padding-left: 100px;
        }
        //LINE
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            height: 100%;
            background-color: #ebebeb;
            @media (max-width: 768px) {
                left: 15px;
            }
        }
        //circle all posts
        &::after {
            content: "";
            position: absolute;
            bottom: -51px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            background-color: #7b6c63;
            border-radius: 50%;
            border: 10px solid #ebebeb;
            padding: 5px;
            @media (max-width: 768px) {
                left: 15px;
                width: 40px;
                height: 40px;
            }
        }
        .btn-posts {
            position: absolute;
            left: 50%;
            bottom: -22px;
            padding: 2px;
            transform: translateX(-50%);
            z-index: 1;
            font-size: 1.4rem;
            color: #fff;
            @media (max-width: 768px) {
                transform: none;
                left: -1px;
                bottom: -29px;
            }
        }
        @media (max-width: 768px) {
            padding-bottom: 30px;
        }
    }

    &__section {
        display: flex;
        position: relative;
        margin-left: -90px;
        margin-bottom: 35px;

        &:nth-of-type(even) {
            flex-direction: row-reverse;
            text-align: right;
            .image-box::before {
                left: 30px;
                right: auto;
                @media (max-width: 768px) {
                    left: -10px;
                }
            }
            @media (max-width: 768px) {
                flex-direction: column;
                text-align: left;
            }
        }

        .image-box {
            width: 50%;
            padding-left: 90px;
            position: relative;
            .image {
                position: relative;
                width: 100%;
                height: 100%;
                padding-top: 56.25%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                
            }

            //TIMELINE CIRCLES
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: -59px;
                width: 30px;
                height: 30px;
                background-color: #ebebeb;
                border-radius: 50%;
                @media (max-width: 768px) {
                    left: -10px;
                }
            }
            @media (max-width: 768px) {
                padding-left: 45px;
                width: 100%;
            }
        }
        .content {
            width: 50%;
            padding-left: 90px;
            span {
                font-size: 1.6rem;
                color: #7b6c63;
                letter-spacing: 1px;
                line-height: 30px;
            }
            h3 {
                color: #000;
            }
            @media (max-width: 768px) {
                padding-left: 45px;
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
        @media (max-width: 768px) {
            margin-bottom: 35px;
        }
    }
}
